<header class="header">

  <img
    class="header__burger-icon"
    src="./assets/images/burger-icon.png"
    alt="Burger icon"
  />

  <nav class="header__nav">
    <ul class="ul header__nav__menu">
      <li>
        <a
          class="header__nav__menu__item"
          href="https://adalab.es"
          target="_blank"
        >
          Productos
        </a>
      </li>

      <li>
        <a
          class="header__nav__menu__item"
          href="https://adalab.es"
          target="_blank"
        >
          Colecciones
        </a>
      </li>

      <li>
        <a
          class="header__nav__menu__item"
          href="https://adalab.es"
          target="_blank"
        >
          Tienda
        </a>
      </li>

      <li>
        <a
          class="header__nav__menu__item"
          href="https://adalab.es"
          target="_blank"
        >
          Inicio
        </a>
      </li>
    </ul>
  </nav>

  <h1 class="header__title header__focus">
    Disfruta creando espacios
  </h1>

  <a
  class="header__focus button-container"
  href="https://adalab.es/"
  target="_blank"> 
    <button class="button">
      Comprar ahora
    </button>
  </a>
  

  <img
    id="header__logo"
    class="header__logo"
    src="./assets/images/logo.png"
    alt="Logo"
  />

</header>
