<main class="main">
  <!-- 2ND MODULE - OPEN SPACES -->

  <section class="spaces">

    <div class="spaces__container">
      <h2 class="spaces__title">
        Volverse organizado se siente mejor con
        <span class="spaces__title--uc"> open spaces</span>
      </h2>
    </div>

    <include
      src="./4-parameters.html"
      icon="./assets/images/icon_1.png"
      title="Lo que necesitas"
      text="Una línea de productos diseñados para       todos tus espacios">
    </include>

    <include
      src="./4-parameters.html"
      icon="./assets/images/icon_2.png"
      title="Materia primas sustentables"
      text=" Todos los productos con materias primas sustentables">
    </include>

    <include
      src="./4-parameters.html"
      icon="./assets/images/icon_3.png"
      title="Guía"
      text="Soporte y asesoramiento para ayudarte con tu objetivo">
    </include>

  </section>

  <!-- NEW MODULE - SECTION PRODUCTS -->

<section class="section-products">
  <h2 class="section-products__title">
    Productos destacados
  </h2>
  <div class="section-products__container">
    <h3 class="section-products__subtitle section-products__subtitle1">
      Estantería</h3>
    <h3 class="section-products__subtitle section-products__subtitle2">
      Carrito
    </h3>
  </div>
</section>

    <!-- 3RD MODULE -->


  <section class="shipment">
    <img src="./assets/images/icon_4.png" />
    <h2 class="shipment__title">Envío gratis garantizado</h2>
    <p class="shipment__text">Envío gratis en compras desde 100 euros</p>
    <p>
      <a href="https://adalab.es/"> Comprar ahora </a>
    </p>
  </section>

  <!-- 4TH MODULE - Disfruta creando espacios -->

  <section class="enjoy">

    <article class="enjoy__item enjoy__article">

        <h2
          class="enjoy__article__item"
          class="enjoy__article__title">
          Disfruta creando espacios
        </h2>

        <p
          class="enjoy__article__item enjoy__article__text">
          Una línea de productos diseñados para todos tus espacios
        </p>

        <a
          class="enjoy__article__item"
          href="https://adalab.es/"
          target="_blank">
          <button class="button">
            Comprar ahora</button>
        </a>
        
    </article>

    <img
      class="enjoy__item enjoy__image"
      src="./assets/images/creando-espacios.jpg"
    />
  </section>

</main>
