<footer class="footer">


  <!-- Footer - Section 1 -->

  <section class="footer__section">

    <h2 class="footer__section1__title">
      <a
      href="https://adalab.es/"
      target="_blank">
        Tienda
      </a>
    </h2>

    <nav class="nav">

      <ul class="ul">

        <li>
          <a
          href="https://adalab.es/"
          target="_blank">
            Productos
          </a>
        </li>

        <li>
          <a
          href="https://adalab.es/"
          target="_blank">
            Cajoneras
          </a>
        </li>

        <li>
          <a
          href="https://adalab.es/"
          target="_blank">
            Para toda la casa
          </a>
        </li>

        <li>
          <a
          href="https://adalab.es/"
          target="_blank">
            Habitaciones
          </a>
        </li>

      </ul>

    </nav>

  </section>

  <!-- Footer - Section 2 -->

  <section class="footer__section">

    <h2 class="footer__section2__title">
      <a
        href="https://adalab.es/"
        target="_blank">
        Nosotros
      </a>
    </h2>

    <nav class="nav">

      <ul class="ul">

        <li>
          <a
            href="https://adalab.es/"
            target="_blank">
            Nuestra Guía
          </a>
        </li>

        <li>
          <a
            href="https://adalab.es/"
            target="_blank">
            Nuestro diseño
          </a>
        </li>

        <li>
          <a
            href="https://adalab.es/"
            target="_blank">
            Nuestra historia
          </a>
        </li>

        <li>
          <a
            href="https://adalab.es/"
            target="_blank">
            Ayuda
          </a>
        </li>

      </ul>

    </nav>

  </section>

  <!-- Footer - Section 3 -->

  <section
  class="footer__section"
  class="footer__section--3">
    
    <h2 class="footer__section3__title">
      <a
        href="https://adalab.es/"
        target="_blank">
        Contacto
      </a>
    </h2>

    <nav class="nav">
      <ul class="ul">
        <li>
          <a
            href="mailto:ayuda@openspaces.com"
            target="_blank">
            ayuda@openspaces.com
          </a>
        </li>
        <li>
          <a
            href="https://adalab.es/"
            target="_blank">
            Socios
          </a>
        </li>
      </ul>
    </nav>

    <nav class="nav">

      <ul class="ul social-media">

        <li class="social-media--linkedin">
          <a
            href="https://adalab.es/"
            target="_blank">
           <i class="fa-brands fa-linkedin-in">
            </i>
          </a>
        </li>

        <li class="social-media--instagram">
          <a
            href="https://adalab.es/"
            target="_blank">
            <i class="fa-brands fa-instagram">
            </i>
          </a>
        </li>

        <li class="social-media--twitter">
          <a
            href="https://adalab.es/"
            target="_blank">
            <i class="fa-brands fa-twitter">
           </i>
          </a>
          </li>

      </ul>

    </nav>

  </section>

  <a class="footer__arrow" href="#header__logo">
    <img
    class="pulse"
    src="./assets/images/arrow.png"
    alt="Arrow">
  </a>

</footer>